body{background-color: rgb(190, 154, 105);}

#Menu{background-color: rgb(255, 167, 66); position: absolute; top: 10px;left: 50px}
#Menu:hover{width:80px; height:35px;}
#Restablecer{background-color: rgb(238, 119, 89); position: absolute; top: 10px;left: 350px}
#Restablecer:hover{width:95px; height:35px;}
#Guardar{background-color: rgb(90, 252, 190); position: absolute; top: 10px;right: 350px}
#Guardar:hover{width:80px; height:35px;}
#Usuario{background-color: rgb(207, 195, 154); position: absolute; top: 10px;right: 50px}
#usuario{background-color: rgb(207, 195, 154); position: absolute; top: 26px;right: 50px; width:20px; height:10px;}
#usuario:hover{height:20px;}

#Nombre{position: absolute; top: 95px;left:540px}

#Raza{position: absolute; top:150px;left:30px}
#Genero{position: absolute; top:200px;left:30px}
#Clase{position: absolute; top:250px;left:30px}

#Dibujo{position:absolute; top: 120px;left:420px; width:500px}

#ColorPelo{position: absolute; top:150px;right:183px}
#ColorRopa{position: absolute; top:200px;right:175px}
#Habilidades{position: absolute; top:250px;right:245px}
    #h1{position: absolute; top:280px;left:1020px} #textoh1{position: absolute; top:265px;left:1040px}
    #h2{position: absolute; top:310px;left:1020px} #textoh2{position: absolute; top:295px;left:1040px}
    #h3{position: absolute; top:340px;left:1020px} #textoh3{position: absolute; top:325px;left:1040px}
    #h4{position: absolute; top:370px;left:1020px} #textoh4{position: absolute; top:355px;left:1040px}
    #h5{position: absolute; top:400px;left:1020px} #textoh5{position: absolute; top:385px;left:1040px}

    #h6{position: absolute; top:280px;left:1020px; visibility: hidden;} #textoh6{position: absolute; top:265px;left:1040px; visibility: hidden;}
    #h7{position: absolute; top:310px;left:1020px; visibility: hidden;} #textoh7{position: absolute; top:295px;left:1040px; visibility: hidden;}
    #h8{position: absolute; top:340px;left:1020px; visibility: hidden;} #textoh8{position: absolute; top:325px;left:1040px; visibility: hidden;}
    #h9{position: absolute; top:370px;left:1020px; visibility: hidden;} #textoh9{position: absolute; top:355px;left:1040px; visibility: hidden;}
    #h10{position: absolute; top:400px;left:1020px; visibility: hidden;} #textoh10{position: absolute; top:385px;left:1040px; visibility: hidden;}

    #h11{position: absolute; top:280px;left:1020px; visibility: hidden;} #textoh11{position: absolute; top:265px;left:1040px; visibility: hidden;}
    #h12{position: absolute; top:310px;left:1020px; visibility: hidden;} #textoh12{position: absolute; top:295px;left:1040px; visibility: hidden;}
    #h13{position: absolute; top:340px;left:1020px; visibility: hidden;} #textoh13{position: absolute; top:325px;left:1040px; visibility: hidden;}
    #h14{position: absolute; top:370px;left:1020px; visibility: hidden;} #textoh14{position: absolute; top:355px;left:1040px; visibility: hidden;}
    #h15{position: absolute; top:400px;left:1020px; visibility: hidden;} #textoh15{position: absolute; top:385px;left:1040px; visibility: hidden;}

#Fuerza{position: absolute; top:350px;left:30px}
#Destreza{position: absolute; top:400px;left:30px}
#Constitucion{position: absolute; top:450px;left:30px}

#Inteligencia{position: absolute; top:350px;left:210px}
#Sabiduria{position: absolute; top:400px;left:210px}
#Carisma{position: absolute; top:450px;left:210px}

#Historia{position:absolute; top:800px;left:30px}

#piechart{position: absolute; top: 1000px; left:50px; background-color: rgb(190, 154, 105);}