/* Adaptaciones para dispositivos móviles */
@media (max-width: 480px) {
    #Usuario, #Crear, #Lista, #Campañas {
        font-size: 14px; /* Reduce el tamaño de la fuente para dispositivos con pantallas pequeñas */
        padding: 10px 5px; /* Ajusta el padding para mantener los botones accesibles */
    }
}

/* Adaptaciones para tabletas */
@media (min-width: 481px) and (max-width: 768px) {
    #Usuario, #Crear, #Lista, #Campañas {
        font-size: 16px; /* Aumenta el tamaño de la fuente para tabletas */
        padding: 15px 10px; /* Ajusta el padding para un mejor manejo táctil */
    }
}

body{background-color: rgb(228, 178, 109);}

#Usuario{background-color: rgb(207, 195, 154); position: absolute; top:50px;right:100px}
#usuario{background-color: rgb(207, 195, 154); position: absolute; top: 66px;right: 100px; width:20px; height:10px;}
#usuario:hover{height:20px;}

#Crear{position: absolute; top:180px;left:150px; width:250px; height:400px; background-image: url('./../imagenes/Añadir.png');}
#Lista{position: absolute; top:180px;left:550px; width:250px; height:400px; background-image: url('./../imagenes/Mii.png');}
#Campañas{position: absolute; top:180px;left:950px; width:250px; height:400px; background-image: url('./../imagenes/LibroBlanco.png');}